.swiper {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 40%;
    top: 40%;
    margin-left: -150px;
    margin-top: -150px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }